# Postgres Server
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/t3chatbuild?schema=public"

# BetterAuth 
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001 # Base URL of your app

# Github credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
